@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.overlay{
    background: rgba(0, 0, 0, 0.356);
}

.card{
    font-family: Nunito, monospace;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 5px 5px 9px black;
}